body {
    margin: 0 10% 0 10%;
}

.view {
    display: none;
}


.head {
    background-color: #9cc4fc;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    font-size: 4vw;
    height: 11vw;
    margin: 2% 0 2% 0;
    align-content: center;
    border-radius: 50px;
    padding: 0 2% 0 2%;
}

.subtitulo {
    margin: 2% 0 2% 0;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    color: #000000;
    text-align: center;
    font-size: 3vw;
    height: 7vw;
    /*margin: 20px;*/
    align-content: center;
    background-color: #ffd800;
    border-radius: 50px;

}

.contenedor1 {
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    color: #000000;
    font-size: 2vw;
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    background-color: #f8f8f8;
    border-radius: 50px;
    padding: 1% 0 1% 0;
}


.Banner {
    width: 100%;
    padding: 5% 0 0 0;
}

.contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 600px;
    height: 400px;
    background-image: url('../Assets/images/estudiantes.jpg');
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 100px;

}

.contenedor2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 2% 0 2% 0;
    border: hidden;;
    align-items: center;
    border: hidden;
    border-radius: 50px;
    background-color: #f8f8f8;
}

.c1 {
    text-align: center;
    max-width: 650px; 
    line-height: 1.6; 
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    transition: 900ms;
 
}
.c1:hover {
    font-size: larger;
    max-width: 850px;
    color: #ffff;
    background-color: #000000;
}

.tituloParrafo {
    font-family: "Sniglet", system-ui;
    background-color: #9cc4fc;
    text-align: center;
    font-size: 2rem;
    border-radius: 25px;
    height: 3rem;
    margin: 3% 0 8% 0;
}

.parrafo {
    font-family: "Sniglet", system-ui;
    text-align: justify;
    align-content: center;
}

.contenedorBoton {
    text-align: center;
    margin: 5%;
}

.multiview {
    padding: 3%;
}

.contenedor3 {
    /*background-color: aqua;*/
    /*margin: 20px 0 0 0;*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-family: "Sniglet", system-ui;
    /*color: aliceblue;*/
    /*color: rgb(99, 255, 56);*/
    color: aliceblue;
    font-size: larger;
    text-align: justify;
    /*margin: 0 5% 0 0;*/
    padding: 0 10% 2% 0;
    background-color: #9cc4fc;
    border-radius: 50px
}

.contenedor4 {
    /*background-color: aqua;*/
    /*margin: 20px 0 0 0;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    font-family: "Sniglet", system-ui;
    /*color: aliceblue;*/
    /*color: rgb(99, 255, 56);*/
    color: aliceblue;
    font-size: larger;
    text-align: justify;
    /*margin: 0 5% 0 0;*/
    padding: 0 10% 2% 0;
    background-color: #9cc4fc;
    border-radius: 50px
}

.contenedorExtra {
    display: block;
    text-align: center;
    margin:3%;
}

.contenedorCentral {
    text-align: right;
    justify-self: center;
}

.subContenedor {
    width: 300px;
    height: 340px;
    text-align: center;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    position: relative;
    transition: 250ms ease;
    /*background-color: blue;*/
}

.fondo {
    width: 300px;
    height: 300px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.persona {
    z-index: 4;
    position: absolute;
    width: 330px;
    bottom: 0;
    left: 0;
    transition: 250ms ease;
}

.subContenedor:hover {
    transform: scale(1.25);
}

.persona:hover {
    transform: scale(1.22);
}

li {
    padding: 0.5%;
}

.boton {
    background-color: #6bd577;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: "Sniglet", system-ui;
    width: auto;
    height: auto;
    transition: 200ms ease-in-out;
}

    .boton:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.08);
    }


.avion {
    z-index: 4;
    position: absolute;
    width: 330px;
    bottom: 0;
    left: 0;
    transition: 250ms ease;
}

    .avion:hover {
        transform: scale(1.22);
        transform: translateX(30px);
       
    }

.fondoTest {
    width: 300px;
    height: 300px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.personaTest {
    z-index: 4;
    position: absolute;
    width: 330px;
    bottom: 0;
    left: 0;
    transition: 250ms ease;
}

.personaTest:hover {
    transform: scale(1.22);
}

.contenedorBoton {
    text-align: center;
    margin: 5%;
}


/*Codigo para hacer responsivo*/

@media (max-width: 576px){

    .contenedor1 {
        display: grid;
        place-items: center;
        height: 250px;
    }

    .videoContainer {
        max-width: 50%;
        max-height: 50%;
        transform: translateY(-75px);
    }


    .c1 {
        display: none;
    }
    

    .contenedor2 {
        gap: 0%;
        display: grid;
        grid-template-columns: 1fr 0fr;
        place-items: center;
        
    }

    .tituloParrafo {
        font-size: 5vh;
        align-content: center;
    }

    .parrafo {
        font-size: 2vh;
    }

    .boton {
        font-size: 2vh;
    }

    .imagen {
        display: none;
    }

    .contenedor3 {
        display: none;
    }

}







