body {
    margin: 3%;
}


.head {
    background-color: #9cc4fc;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    font-size: 3vw;
    height: 7vw;
    align-content: center;
    border-radius: 50px;
    
}

.Banner {
    width: 100%;
    padding: 5% 0 0 0;
}

.contenedor1 {
    display: grid;
    place-items: center;
    height: fit-content;
}



.conteiner_general2 {
    /*border: 5px solid;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.contenedor_candado {
    /* text-align: right; */
    background-image: url("../Assets/images/candado.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

.candado {
    max-width: 350px;
    width: 85%;
    
}

.container_text_box {
    /*border: 5px solid #ff0000;*/
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.conteiner-up {
    display: grid;
    /*border: 5px solid #ff00dc;*/
    align-content: center;
    padding: 100px 0 0 0;
}

.conteiner-down {
    /*border: 5px solid #ffd800;*/
    text-align: center;
    padding: 10px;
}

.boton {
    width: 100px;
    height: 30px;
    font-family: "Sniglet", system-ui;
    font-size: 14px;
}

.boton:hover {
    transform: scale(1.05);
}


@media (max-width: 576px){

    body {
        padding: 5%;
    }

    .contenedor1 {
        background-color: rgb(246, 246, 246);
        border-radius: 10px;
        margin: 10px;
    }

    .conteiner_general2 {
        display: block;

    }

    .conteiner-up {
        padding: 0px;
       
    }
    
    .contenedor_candado {
        margin: 5%;
        width: 200px;
        height: 200px;
    }

    .conteiner-down {
        padding: 5px;
    }

    input {
        font-size: 3vw;
    }

    .boton {
        font-size: 3vw;
        max-width: auto;
        
    }



    



   
}